{% extends 'base_main.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/main/home.css' %}">
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/swiper.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main/home.js' %}"></script>
{% endblock %}

{% block header %}
    <header></header>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="home">

        {#  顶部轮播   #}
        <div class="swiper-container" id="topSwiper">
            <div class="swiper-wrapper">
                {% for main_wheel in main_wheels %}
                    <div class="swiper-slide">
                        <img src="{{ main_wheel.url }}" alt="{{ main_wheel.name }}">
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>

        {#   顶部导航    #}
        <div class="topMenu">
            <nav>
                <ul>
                    {% for main_nav in main_navs %}
                        <li>
                            <img src="{{ main_nav.url }}" alt="{{ main_nav.name }}">
                            <span>{{ main_nav.name }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

        {#  必购产品   #}
        <div class="swiper-container" id="swiperMenu">
            <div class="swiper-wrapper">
                {% for main_mustby in main_mustbys %}
                    <div class="swiper-slide">
                        <img src="{{ main_mustby.url }}" alt="{{ main_mustby.name }}">
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}